# AMEBA I2S driver configuration options

# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

menuconfig I2S_AMEBA
	bool "AMEBA MCU I2S controller driver"
	default y
	depends on DT_HAS_REALTEK_AMEBA_I2S_ENABLED
	# select DMA
	help
	  Enable I2S support on the AMEBA family of processors.
