# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_AMEBAPRO2
	bool "GPIO controller driver for Realtek Ameba series SoC"
	default y
	depends on DT_HAS_REALTEK_AMEBAPRO2_GPIO_ENABLED
	help
	  Enable GPIO controller driver for Realtek Ameba series SoC

config GPIO_DEBOUNCE_EN
	bool "Ameba GPIO Interrupt Debounce Enable"
	depends on GPIO_AMEBAPRO2
	default y
	help
	  When Enable GPIO Interrupt Debounce, the external signal can be debounced to
	  remove any spurious glitches that are less than one period(about 32us) of
	  the external debouncing clock.
