/*
 * Copyright (c) 2024 Realtek Semiconductor Corp.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <realtek/amebapro2/amebapro2.dtsi>
#include "rtl8735b_evb-pinctrl.dtsi"

/ {
	model = "RealTek AmebaPro2 RTL8735B EVB";
	compatible = "realtek,rtl8735b_evb";

	chosen {
		zephyr,console = &loguart;
		zephyr,shell-uart = &loguart;
		zephyr,sram = &sram0;
		zephyr,entropy = &trng;
	};
};

&spi0 {
	status = "okay";
};

&trng {
	status = "okay";
};

&loguart {
	status = "okay";
};

