# Copyright (c) 2025 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

# Configurations here work for all rtl8721f_evb variants(like mcuboot)

ZEPHYR_USER := zephyr,user

config RUNTIME_NMI
	default y

config CORTEX_M_SYSTICK
	default y

# Enable hardware stack protection
config HW_STACK_PROTECTION
	default y

# enable rcc
config CLOCK_CONTROL
	default y

# enable uart
config SERIAL
	default y

# enable console for stdout
config CONSOLE
	default y

config UART_CONSOLE
	default y

# enable GPIO
config GPIO
	default y

config NOCACHE_MEMORY
	default y

if BOOTLOADER_MCUBOOT

config FLASH_BASE_ADDRESS
	hex
	default $(dt_node_int_prop_hex,/$(ZEPHYR_USER),primary-logic-base)

endif