# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

# Configurations in this file only work for plain device rtl8721f_evb
# Configurations here would overwrite configurations in Kconfig.defconfig
# Configurations for all rtl8721f_evb variants(like mcuboot) are supposed to be set in Kconfig.defconfig
