/*
 * Copyright (c) 2024 Realtek Semiconductor Corp.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <realtek/amebaG2/amebaG2.dtsi>
#include "rtl8721f_evb-pinctrl.dtsi"
#include <zephyr/dt-bindings/display/panel.h>

/ {
	model = "RealTek AmebaG2 RTL8721F EVB";
	compatible = "realtek,rtl8721f_evb";

	chosen {
		zephyr,console = &loguart;
		zephyr,shell-uart = &loguart;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,entropy = &trng;
		zephyr,flash-controller = &spic;
		zephyr,bt-hci = &bt;
	};

	aliases {
		i2c-0 = &i2c0;
		i2c-1 = &i2c1;
		//led-strip =&ledc;
		rtc = &rtc;
		//sw0 = &button0;
		watchdog0 = &wdg;
		pwm-0 = &pwm0;
		pwm-1 = &pwm1;
		//led0 = &green_led_4;
	};

	//buttons {
	//	compatible = "gpio-keys";
	//	button0: button_0 {
	//		gpios = < &gpioa 25 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
	//		label = "User button";
	//		zephyr,code = <INPUT_KEY_4>;
	//	};
	//};

	//leds {
	//	compatible = "gpio-leds";
	//	green_led_4: led_4 {
	//		gpios = <&gpioa 26 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
	//		label = "User LD4";
	//	};
	//};

};

/* 4MB flash */
&flash0 {
	reg = <0x02000020 DT_SIZE_M(4)>;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserve 80kB for the bootloader */
		boot_partition: partition@0 {
			label = "bootloader";
			reg = <0x00000000 0x00014000>;
			read-only;
		};

		/* Reserve 1968kB for the application in slot 0 */
		slot0_partition: partition@14000 {
			label = "image-0";
			reg = <0x00014000 0x001EC000>;
		};

		storage_partition: partition@250000 {
			label = "storage";
			reg = <0x00250000 0x00006000>;
		};
	};
};

&zephyr_udc0 {
	pinctrl-0 = <&usb_default>;
	pinctrl-names = "default";
};

&uart0 {
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
	status = "okay";
};

&uart1 {
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
	status = "okay";
};

&uart2 {
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
	status = "okay";
};

&spi0 {
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	//clock-frequency = <1000000>;
	//rtk,spi-default-cs = <0>;
	status = "disabled";
};

&spi1 {
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";
	//clock-frequency = <1000000>;
	//rtk,spi-default-cs = <0>;
	status = "disabled";
};

&i2c0 {
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";
};

&i2s0 {
	pinctrl-0 = <&i2s0_default>;
	pinctrl-names = "default";
	status = "okay";
};

//&codec {
//	pinctrl-0 = <&dmic_default>;
//	pinctrl-names = "default";
//	i2s-index = <0>;
//	status = "okay";
//};

&adc {
	pinctrl-0 = <&adc_in4_pa15 &adc_in5_pa14>;
	pinctrl-names = "default";
	status = "okay";
};

//&ctc {
//	pinctrl-0 = <&adc_in0_pb19 &adc_in1_pb18 &adc_in2_pb17 &adc_in3_pb16>;
//	pinctrl-names = "default";
//	status = "okay";
//};

&pwm0 {
	pinctrl-0 = <&pwm0_default>;
	pinctrl-names = "default";
	prescale = <39>;
	status = "okay";
};

&pwm1 {
	pinctrl-0 = <&pwm1_default>;
	pinctrl-names = "default";
	prescale = <39>;
	status = "okay";
};
//&ledc {
//	pinctrl-names = "default";
//	pinctrl-0 = <&ledc_default>;
//	status = "okay";
//};

&wdg {
	status = "okay";
};

&trng {
	status = "okay";
};

&rtc {
	status = "okay";
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&timer3 {
	status = "okay";
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&gpioc {
	status = "okay";
};

&loguart {
	status = "okay";
};

&spic {
	status = "okay";
};

&dma {
	status = "okay";
};

zephyr_lcdc: &lcdc_dpi {
	status = "disabled";
	//pinctrl-0 = <&lcdc_rgb_default>;
	//pinctrl-names = "default";
};

&bt {
	status = "okay";
};

&coretemp {
	status = "okay";
};

&a2c0 {
	pinctrl-0 = <&a2c0_default>;
	pinctrl-names = "default";
	status = "disabled";
};

&a2c1 {
	pinctrl-0 = <&a2c1_default>;
	pinctrl-names = "default";
	status = "disabled";
};

&mdio {
	status = "disabled";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-names = "default";

	phy: ethernet-phy@0 {
		compatible = "ethernet-phy";
		reg = <0x0>;
		status = "disabled";
	};
};

&mac {
	status = "disabled";
	phy-handle = <&phy>;
};

zephyr_mipi_dbi_parallel: &lcdc_dbi {
	pinctrl-0 = <&lcdc_mcu_default>;
	pinctrl-names = "default";

	/* EVB V2 */
	backlight-gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpioa 8 GPIO_ACTIVE_LOW>;

	/* IM3 IM2 IM1 IM0 */
	im-gpios = <&gpioa 14 GPIO_ACTIVE_HIGH>,
			<&gpioa 13 GPIO_ACTIVE_HIGH>,
			<&gpioa 16 GPIO_ACTIVE_HIGH>,
			<&gpioa 17 GPIO_ACTIVE_HIGH>;
};

&zephyr_mipi_dbi_parallel {
	status = "disabled";
	#address-cells = <1>;
	#size-cells = <0>;

	/* swap-bytes; */

	ili9806: ili9806@0 {
		status = "disabled";
		compatible = "ilitek,ili9806";
		reg = <0>;

		/**
                 * The SCK frequency is set to 25MHz, parsed into the struct spi_config,
		 * and will subsequently be applied to the LCDC configuration register
		 * unused but keep to fix err
                 */
		mipi-max-frequency = <25000000>;
		/* 0 RGB565; 1 RGB888 */
		pixel-format = <0>;
		mipi-mode = "MIPI_DBI_MODE_8080_BUS_8_BIT";
		rotation = <0>;

		/* unused keep to fix err; defined x_res and y _res in ili9806.h */
		width = <480>;
		height = <800>;
		/* display_inversion; */

		extccmdset = [FF 98 06];
		gip1 = [01 0F 61 FF 01 01 0B 10 37 63 FF FF 01 01 00 00 FF 52 01 00 40];
		gip2 = [01 23 45 67 01 23 45 67];
		gip3 = [00 01 AB 60 22 22 22 22 22];
		vcomcontrol = [36];
		envolreg = [7F 0F];
		pwctrl1 = [0F 0B 0A];
		avdd = [08];
		engineerset = [00 00 00 00 00 20];
		dvdd = [74];
		invesiontype = [00 00 00];
		resolutionctrl = [82];
		frameratectrl = [00 13 13];
		creqpcsdt = [80 04 40 28];
		pwctrl2 = [17 88 88 20];
		pgamctrl = [00 0A 12 10 0E 20 CC 07 06 0B 0E 0F 0D 15 10 00];
		ngamctrl = [00 0B 13 0D 0E 1B 71 06 06 0A 0F 0E 0F 15 0C 00];
		/* following for debug usage */
		caddrset = [00 00 01 df];
		paddrset = [00 00 03 1f];
		/* 0x77 24bpp; 0x55 16bpp */
		pixformat = [55];
		memaccessctrl = [00];
	};
};
