# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

CONFIG_RUNTIME_NMI=y

CONFIG_CORTEX_M_SYSTICK=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# This board implies building Non-Secure firmware
CONFIG_TRUSTED_EXECUTION_NONSECURE=y

# enable rcc
CONFIG_CLOCK_CONTROL=y

# enable uart
CONFIG_SERIAL=y

# enable console for stdout
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_NOCACHE_MEMORY=y
