# Copyright (c) 2026 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

CONFIG_XIP=n
CONFIG_MCUBOOT_ACTION_HOOKS=y
CONFIG_MINIMAL_LIBC=y
CONFIG_MAIN_STACK_SIZE=8192
CONFIG_MBEDTLS_PSA_KEY_SLOT_COUNT=4
