# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config AUDIO_AMEBAPRO2_DMIC
	bool "AmebaPro2 Digital PDM microphone support"
	default y
	depends on DT_HAS_REALTEK_AMEBAPRO2_DMIC_ENABLED
	help
	  Enable AmebaPro2 digital microphone (DMIC) support using the
	  internal SPORT peripheral for PDM audio capture
