# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config HWINFO_AMEBA
	bool "AMEBA hwinfo"
	default y
	depends on SOC_FAMILY_REALTEK_AMEBA
	select HWINFO_HAS_DRIVER
	help
	  Enable Ameba hwinfo driver.
