/*
 * Copyright (c) 2024 Realtek Semiconductor Corp.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>
#include <freq.h>
#include <zephyr/dt-bindings/clock/amebadplus_clock.h>

#include <arm/armv8-m.dtsi>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m33";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <1>;
		};
	};

	clocks {
		#address-cells = <1>;
		#size-cells = <1>;

		clk_sys: clk_sys {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <DT_FREQ_M(260)>;
		};

		rcc: rcc@41008000 {
			compatible = "realtek,ameba-rcc";
			#clock-cells = <1>;
			reg = <0x41008000 0x400>;
		};
	};

	soc {
		sram0: memory@20010020 {
			compatible = "mmio-sram";
			reg = <0x20010020 0x00030000>;
		};

		flash0: flash@e000020 {
			compatible = "soc-nv-flash";
		};

		ram_image2_entry: memory@20004da0 {
			compatible = "zephyr,memory-region";
			reg = <0x20004da0 0x20>;
			zephyr,memory-region = "KM4_IMG2_ENTRY";
		};

		pinctrl: pinctrl@41008800 {
			compatible = "realtek,ameba-pinctrl";
			reg = <0x41008800 0x200>;
		};

		loguart: serial@4100f000 {
			compatible = "realtek,ameba-loguart";
			reg = <0x4100f000 0x100>;
			clocks = <&rcc AMEBA_LOGUART_CLK>;
			current-speed = <1500000>;
		};

		uart0: serial@4100c000 {
			compatible = "realtek,ameba-uart";
			reg = <0x4100c000 0x60>;
			clocks = <&rcc AMEBA_UART0_RCLK>;
			interrupts = <24 0>;
			current-speed = <115200>;
			status = "disabled";
		};

		uart1: serial@4100d000 {
			compatible = "realtek,ameba-uart";
			reg = <0x4100d000 0x60>;
			clocks = <&rcc AMEBA_UART1_RCLK>;
			interrupts = <25 0>;
			current-speed = <115200>;
			status = "disabled";
		};

		uart2: serial@4100e000 {
			compatible = "realtek,ameba-uart";
			reg = <0x4100e000 0x60>;
			clocks = <&rcc AMEBA_UART2_RCLK>;
			interrupts = <26 0>;
			current-speed = <115200>;
			status = "disabled";
		};

		spi0: spi@40124000 {
			compatible = "realtek,ameba-spi";
			reg = <0x40124000 0x100>;
			interrupts = <42 0>;
			clocks = <&rcc AMEBA_SPI0_BCLK>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi1: spi@40125000 {
			compatible = "realtek,ameba-spi";
			reg = <0x40125000 0x100>;
			interrupts = <43 0>;
			clocks = <&rcc AMEBA_SPI1_BCLK>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c0: i2c0@41108000 {
			compatible = "realtek,ameba-i2c";
			reg = <0x41108000 0x100>;
			interrupts = <30 0>;
			clocks = <&rcc AMEBA_I2C0_BCLK>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
		};

		i2c1: i2c1@4110a000 {
			compatible = "realtek,ameba-i2c";
			reg = <0x4110a000 0x100>;
			interrupts = <31 0>;
			clocks = <&rcc AMEBA_I2C1_BCLK>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		gpioa: gpio@41010000 {
			compatible = "realtek,ameba-gpio";
			reg = <0x41010000 0x400>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupts = <28 0>;
		};

		gpiob: gpio@41010400 {
			compatible = "realtek,ameba-gpio";
			reg = <0x41010400 0x400>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupts = <29 0>;
		};

	};
};

&nvic {
	arm,num-irq-priority-bits = <3>;
};
