/*
 * Copyright (c) 2024 Realtek Semiconductor Corp.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/pinctrl/realtek-rtl8721f-pinctrl.h>

/ {
	soc {
		pinctrl: pinctrl@41008800 {
			compatible = "realtek,amebadplus-pinctrl";
			reg = <0x41008800 0x200>;

			loguart_pins: loguart{
				group0 {
					pinmux =<REALTEK_PINMUX('B', 4, LOG_UART)>,        /* RXD */
							<REALTEK_PINMUX('B', 5, LOG_UART)>;        /* TXD */
					bias-pull-up;
				};
			};
		};
	};
};
