# AMEBA SPI configuration

# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

menuconfig SPI_AMEBAPRO2
	bool "AmebaPro2 SPI driver"
	default y
	depends on DT_HAS_REALTEK_AMEBAPRO2_SPI_ENABLED
	select PINCTRL
	select SPI_AMEBAPRO2_DMA
	help
		Enables support for AMEBA SPI driver.
