# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

menuconfig SOC_FLASH_AMEBAPRO2
	bool "AmebaPro2 flash driver"
	default y
	depends on DT_HAS_REALTEK_AMEBAPRO2_FLASH_CONTROLLER_ENABLED
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_EXPLICIT_ERASE
	help
	  Enable AmebaPro2 internal flash driver.
