/*
 * Copyright (c) 2026 Realtek Semiconductor Corp.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * SPI0 loopback using standard board pins: PB19=MOSI <-> PB20=MISO
 * Wire PB19 to PB20 on the board for external loopback.
 * PB18=CLK, PB17=CS (no loopback needed).
 */

&spi0 {
	/* reuse spi0_default pinctrl already defined in board pinctrl.dtsi */
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	status = "okay";

	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};

	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <16000000>;
	};
};

&dma {
	status = "okay";
};
