# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config UART_AMEBAPRO2_LOGUART
	bool "AmebaPro2 LOGUART driver"
	default y
	depends on DT_HAS_REALTEK_AMEBAPRO2_LOGUART_ENABLED
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	help
	  This option enables the LOGUART driver for Realtek Ameba SoCs.
