# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config SDHC_AMEBA
	bool "AMEBA SD Host Controller"
	default y
	depends on DT_HAS_REALTEK_AMEBA_SDHC_ENABLED
	select PINCTRL
	help
	  Enables the Realtek Ameba SD Host controller driver
