# Copyright (c) 2017 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

config SOC_STARK_HIFI4_UPG1409
	bool "Xtensa STARK_HIFI4_UPG1409 core"
	select XTENSA
	select XTENSA_HAL
	select ARCH_SUPPORTS_COREDUMP
