# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "AmebaDplus MCU Selection"
	depends on SOC_SERIES_AMEBADPLUS

config SOC_AMEBADPLUS
	bool "Real-M300 on AmebaDplus"
	select CPU_CORTEX_M33
	select CPU_HAS_ARM_SAU

endchoice
