# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_REALTEK_AMEBA
	bool
	select BUILD_OUTPUT_HEX

if SOC_FAMILY_REALTEK_AMEBA

config SOC_FAMILY
	string
	default "realtek_ameba"

rsource "*/Kconfig.soc"

endif # SOC_FAMILY_REALTEK_AMEBA
