# Copyright (c) 2025 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config MIPI_DBI_LCDC_AMEBA
	bool "AMEBA MIPI DBI LCDC driver"
	default y
	depends on DT_HAS_REALTEK_AMEBA_LCDC_ENABLED
	depends on CLOCK_CONTROL
	select PINCTRL
	help
	  Enable support for AMEBA LCDC display controller driver

if MIPI_DBI_LCDC_AMEBA

# config MIPI_DBI_LCDC_AMEBA_DMA
# 	bool "Use DMA for transfers with LCDC driver"
# 	select DMA
# 	help
# 	  Use DMA for transfers when sending data with the LCDC_AMEBA driver.
# 	  Commands will still be sent in polling mode.

endif # MIPI_DBI_LCDC_AMEBA
