# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

if BOARD_REALTEK_RTL872XDA_EVB

config BOARD
        default "Realtek AmebaDplus RTL872XDA EVB"

config BUILD_WITH_TFM
        default y if TRUSTED_EXECUTION_NONSECURE

endif
