# Kconfig - Formosa board configuration
#
# Copyright (c) 2023 Realtek Semiconductor, Inc.
# SPDX-License-Identifier: Apache-2.0

config BOARD_REALTEK_RTL872XDA_EVB
        bool "Realtek AmebaDplus RTL872XDA EVB"
        depends on SOC_AMEBADPLUS
