# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_AMEBADPLUS=y
CONFIG_SOC_AMEBADPLUS=y
CONFIG_BOARD_REALTEK_RTL872XDA_EVB=y
CONFIG_RUNTIME_NMI=y

CONFIG_CORTEX_M_SYSTICK=y

# enable rcc
CONFIG_CLOCK_CONTROL=y
CONFIG_CLOCK_CONTROL_AMEBA=y

# enable uart
CONFIG_SERIAL=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_AMEBA_LOGUART=y
